In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df_train = pd.read_csv('train.csv')
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
df_test = pd.read_csv('test.csv')
test = df_test.copy()
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [4]:
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [5]:
df_train.shape

(8693, 14)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [7]:
df_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [8]:
df_train.drop('PassengerId',axis = 1,inplace = True)

In [9]:
df_train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [10]:
df_train_planet = pd.get_dummies(df_train['HomePlanet'],drop_first = True)
df_test_planet = pd.get_dummies(df_test['HomePlanet'],drop_first = True)
df_train = pd.concat([df_train,df_train_planet],axis = 1)
df_test = pd.concat([df_test,df_test_planet],axis = 1)
df_train.drop('HomePlanet',axis = 1, inplace = True)
df_test.drop('HomePlanet',axis = 1, inplace = True)

In [11]:
df_train.shape

(8693, 14)

In [12]:
cols = ['CryoSleep','VIP']

for i in cols:
    df_train[i] = df_train[i].map({True:1, False:0})
    df_test[i] = df_test[i].map({True:1, False:0})

In [13]:
df_train.head()

,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Europa,Mars
0,0.0,B/0/P,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,0
1,0.0,F/0/S,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0
2,0.0,A/0/S,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,0
3,0.0,A/0/S,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,0
4,0.0,F/1/S,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0

In [14]:
df_test['CryoSleep'].value_counts()

0.0    2640
1.0    1544
Name: CryoSleep, dtype: int64

In [15]:
df_train['CryoSleep'] = df_train['CryoSleep'].fillna(0)
df_test['CryoSleep'] = df_test['CryoSleep'].fillna(0)

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CryoSleep     8693 non-null   float64
 1   Cabin         8494 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8514 non-null   float64
 4   VIP           8490 non-null   float64
 5   RoomService   8512 non-null   float64
 6   FoodCourt     8510 non-null   float64
 7   ShoppingMall  8485 non-null   float64
 8   Spa           8510 non-null   float64
 9   VRDeck        8505 non-null   float64
 10  Name          8493 non-null   object
 11  Transported   8693 non-null   bool
 12  Europa        8693 non-null   uint8
 13  Mars          8693 non-null   uint8
dtypes: bool(1), float64(8), object(3), uint8(2)
memory usage: 772.6+ KB

In [17]:
df_train.drop('Name',axis = 1,inplace = True)
df_test.drop('Name',axis = 1,inplace = True)

In [18]:
df_train['Cabin'].value_counts()

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

In [19]:
df_train.drop('Cabin',axis = 1,inplace = True)
df_test.drop('Cabin',axis = 1,inplace = True)

In [20]:
df_train['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [21]:
df_train['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [22]:
df_train['Destination'] = df_train['Destination'].fillna('TRAPPIST-1e')
df_test['Destination'] = df_test['Destination'].fillna('TRAPPIST-1e')

In [23]:
df_train['Destination'] = df_train['Destination'].map({'TRAPPIST-1e':0, '55 Cancri e':1, 'PSO J318.5-22':2})
df_test['Destination'] = df_test['Destination'].map({'TRAPPIST-1e':0, '55 Cancri e':1, 'PSO J318.5-22':2})

In [24]:
df_train.tail()

,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Europa,Mars
8688,0.0,1,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,False,1,0
8689,1.0,2,18.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0,0
8690,0.0,0,26.0,0.0,0.0,0.0,1872.0,1.0,0.0,True,0,0
8691,0.0,1,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0,False,1,0
8692,0.0,0,44.0,0.0,126.0,4688.0,0.0,0.0,12.0,True,1,0

In [25]:
df_train['Transported'] = df_train['Transported'].map({True:1, False:0})

In [26]:
print(df_train.shape,df_test.shape)

(8693, 12) (4277, 12)

In [27]:
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].median())

In [28]:
df_train['VIP'].value_counts()

0.0    8291
1.0     199
Name: VIP, dtype: int64

In [29]:
df_train['VIP'] = df_train['VIP'].fillna(0)
df_test['VIP'] = df_test['VIP'].fillna(0)

In [30]:
df_train['RoomService'] = df_train['RoomService'].fillna(df_train['RoomService'].mean())
df_test['RoomService'] = df_test['RoomService'].fillna(df_test['RoomService'].mean())

In [31]:
df_train['FoodCourt'] = df_train['FoodCourt'].fillna(df_train['FoodCourt'].mean())
df_test['FoodCourt'] = df_test['FoodCourt'].fillna(df_test['FoodCourt'].mean())

In [32]:
df_train['ShoppingMall'] = df_train['ShoppingMall'].fillna(df_train['ShoppingMall'].mean())
df_test['ShoppingMall'] = df_test['ShoppingMall'].fillna(df_test['ShoppingMall'].mean())

In [33]:
df_train['Spa'] = df_train['Spa'].fillna(df_train['Spa'].mean())
df_test['Spa'] = df_test['Spa'].fillna(df_test['Spa'].mean())

In [34]:
df_train['VRDeck'] = df_train['VRDeck'].fillna(df_train['VRDeck'].mean())
df_test['VRDeck'] = df_test['VRDeck'].fillna(df_test['VRDeck'].mean())

In [35]:
df_train.isnull().sum()

CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Europa          0
Mars            0
dtype: int64

In [36]:
print(df_train.shape,df_test.shape)

(8693, 12) (4277, 12)

In [37]:
df_test.drop('PassengerId',axis = 1,inplace = True)

In [38]:
df_final = df_train.append(df_test)

In [39]:
df_final.isnull().sum()

CryoSleep          0
Destination        0
Age                0
VIP                0
RoomService        0
FoodCourt          0
ShoppingMall       0
Spa                0
VRDeck             0
Transported     4277
Europa             0
Mars               0
dtype: int64

In [40]:
X = df_train.drop('Transported',axis = 1)
y = df_train['Transported']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=45)

In [42]:
from sklearn.ensemble import RandomForestClassifier
Rf = RandomForestClassifier(n_estimators = 100 , criterion = 'entropy',random_state = 42)
Rf.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [43]:
y_pred = Rf.predict(X_test)

In [44]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1066  266]
 [ 291  985]]

0.7864263803680982

In [45]:
import pickle
# open a file, where you ant to store the data
file = open('space_ship.pkl', 'wb')

# dump information to that file
pickle.dump(Rf, file)